<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <div class="container">
        <h1>Employee DB</h1>
        <fieldset class="filter">
            <legend>Filter by Department</legend>
            <form method="GET" th:object="${chosenDept}">
                <select th:field="*{deptNo}">
                    <option th:if="${chosenDept != null}" th:text="${chosenDept.deptName}" th:value="${chosenDept.deptNo}"></option>
                    <option th:unless="${chosenDept != null}"></option>
                    <option th:each="dept: ${departments}" th:text="${dept.deptName}" th:value="${dept.deptNo}">
                </select>
                <button type="submit">Filter</button>
            </form>
        </fieldset>
        <fieldset class="insert">
            <legend>Insert new Employee</legend>
            <button><a href="insert">Insert</a></button>
        </fieldset>

        <form method="POST" th:object="${employeeUtil}">
            <fieldset class="remove">
                <legend>Remove Employees From Department</legend>
                <button type="submit">Remove</button>
            </fieldset>
            <table>
                <thead>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Department</th>
                <th></th>
                </thead>
                <tbody>
                <tr th:each="emp: ${employees}" th:classappend="${emp.managedDepartment != null} ? manager : '' ">
                    <td><span th:text="${emp.lastname}"></span></td>
                    <td><span th:text="${emp.firstname}"></span></td>
                    <td><span th:text="${emp.dateOfBirth}"></span></td>
                    <td><span th:text="${emp.gender}"></span></td>
                    <td>
                        <span th:if="${emp.department != null}" th:text="${emp.department.deptName}"></span>
                        <span th:unless="${emp.department != null}"> No department</span>
                    </td>
                    <td><input name="toRemove" type="checkbox" th:value="${emp.employeeNo}"></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>

</body>
</html>