<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
    <h1>Order</h1>
    <form method="post" th:action="@{/orders}" th:object="${order}">
        <label for="name">Name</label>
        <input id="name" type="text" th:field="*{name}">
        <br>
        <label for="city">City</label>
        <input id="city" type="text" th:field="*{city}">
        <br>
        <label for="street">Street</label>
        <input id="street" type="text" th:field="*{street}">
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>